<div class="container mt-5">
    <h2>Panel de Aprobaciones</h2>

    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>ID Resumen</th>
                <th>Usuario</th>
                <th>Consultor</th>
                <th>Fecha</th>
                <th>Total Horas</th>
                <th>Horas Extras</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let hora of resumenHoras">
                <td (click)="imprimirId(hora.id_resumen)" style="cursor: pointer;">
                    {{ hora.id_resumen }}
                </td>
                <td>{{ hora.usuario_email }}</td>
                <td>{{ hora.consultor_nombre }}</td>
                <td>{{ hora.fecha | date }}</td>
                <td>{{ hora.total_horas }}</td>
                <td>{{ hora.horas_extras }}</td>
                <td>{{ hora.aprobacion }}</td>
                <td>
                    <button class="btn btn-success btn-sm" (click)="aprobarHoraExtra(hora.id_resumen)">Aprobar</button>
                    <button class="btn btn-danger btn-sm" (click)="rechazarHoraExtra(hora.id_resumen)">Rechazar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>